body {
    margin: 0 auto;
    height: 100vh;
    /* This grid is used only to centre 
    the contents of the page on both axes */
    display: grid;
    place-items: center;
}

.mainGrid {
    display: grid;
    grid-template-areas:
        "a . . ."
        "a . b b"
        ". . . .";
    gap: 5px;
    /* ensure consistent width, even if child cells have very different ideal dimensions */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    aspect-ratio: 1;
    font-size: 5rem;
    background: gainsboro;

    /* Centre the contents on both axes */
    display: grid;
    place-items: center;
}

.verticalBlock {
    grid-area: a;
    background: orange;

    /* Centre the contents on both axes */
    display: grid;
    place-items: center;
}

.featureBlock {
    grid-area: b;
    /* Centre the contents on both axes */
    display: grid;
    place-items: center;
}
h1 {
    font-size: 1.8rem;
}

/* Want a smaller grid?  Change the font-size of .cell and h1, or change the font-size at the top level (html) responsive to window dimensions. */
